{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}

{% block title %}控制台{% endblock %}


{% block content %}

<div class="consoleleft fl">
    {% include 'menu.html' %}
</div>

<!-- 核心内容 -->
<div class="consoleright fl">
    <div class="consolecontent0 box">
        <h1 class="backgray"> 个人信息</h1>
        <div style="padding: 10px 0;position: relative;" class="box">
            <div class="fl">
                <img src="{{user.touxiang.url }}" width="110px" height="110px" alt="图片加载失败">
            </div>
            <div class="fl">
                <h1 class="username">{{user.username}}</h1>
                <p>入住平台时间； {{user.create_time }}</p>
                <p>最近编辑时间； {{ user.latest_edit }}</p>
            </div>

            <!-- 数据 -->
            <ul class="userdata0 box">
                <li class="tac">
                    <a href="{% url 'article_list' %}">
                        <h3> {{ user.article_num }} </h3>
                        <p>原创内容</p>
                    </a>
                </li>
                <li class="tac">
                    <h3> {{ user.total_read_num }} </h3>
                    <p>总阅读量</p>
                </li>
                <li class="tac">
                    <a href="">

                    </a>
                    <h3> {{ user.total_collect_num }} </h3>
                    <p>总收藏量</p>
                </li>
                <li class="tac">
                    <a href="">

                    </a>
                    <h3> {{ user.fensi }} </h3>
                    <p>粉丝</p>
                </li>
                <li class="tac">
                    <a href="{% url 'attention_list' %}">
                        <h3> {{ user.attention_num }} </h3>
                        <p>关注</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 更换头像 -->
        <div class="tac">
            <button id="yulan" type="submit" class="btn-primary shubiao">更换头像</button>
        </div>
    </div>
    <!-- 设置 -->
    <div class="settings box">
        <h1 class="backgray"> 设置</h1>
        <div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <div class="settingsdiv">
                    <label class="fontweight" for="{{ field.name }}">{{ forloop.counter }} ; {{ field.label}}</label>
                    {{ field }}
                    <p class="fontred errors">{{ field.errors.0}} </p>
                </div>
                {% endfor %}
                <input id="btn-save" type="submit" value="保存" class="btn-primary" />
            </form>
        </div>
    </div>
</div>



<!-- 更换头像预览 -->
<div id="yulanup" class="yulanup">
    <h1 class="inline tac" id="formtitle"> 更改头像 </h1>
    <form action="{% url 'uploadtouxiang' %}" id="touxiangform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in txform %}
        <div>
            <label class="label1" for="{{ field.name }}">{{ field.label}}</label>
            {{ field }}
            <p class="fontred errors">{{ field.errors.0}} </p>
        </div>
        {% endfor %}
        <div>
            <h3>头像预览</h3><br>
            <img src="{{ request.session.info.touxiang }}" width="200px" height="200px" id="touxiangyulan"
                alt="浏览器版本过低，头像预览失败">
        </div>
        <br>
        <div><input id="btn-save" type="submit" value="保存" class="btn-primary" /></div>
        <br>
        <h3 class="fontred">请上传一张接近正方形的图片，效果更好。</h3>
        <h3 class="fontred">用户头像一段时间内(默认七天)只能更改一次，请谨慎选择。</h3>
        <h3 class="fontred">点击空白处返回。。</h3>
    </form>
</div>
<div id="yulandown" class="yulandown"></div>



<!-- 消息提醒，弹出显示 -->
{% if message %}
<div>
    <div id="light" class="white_content">
        <h2 class="fontgreen">{{message}}</h2>
    </div>
    <div id="fade" class="black_overlay"
        onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
    </div>
</div>
{% endif %}


{% endblock %}
{% block js %}
<script src="{% static 'js/main.js' %}"></script>
<script>
    //上传头像时候的预览效果
    // 绑定监听事件
    let input = document.getElementById('id_touxiang')
    input.addEventListener('change', function () {
        const { files } = this
        const f = files[0]
        const img = document.getElementById('touxiangyulan')
        img.src = URL.createObjectURL(f)
    })
</script>
{% endblock %}