<ul class="console_menu taf">
    <li style="height:80px ;"><img width="100px"
            src="https://rescdn.qqmail.com/zh_CN/htmledition/images/skin_0/nav_bg1e9c5d.gif" alt=""></li>
    <li><a href="{% url 'console' %}"> 个人主页</a></li>
    <li><a href="{% url 'article_list' %}"> 已发布</a></li>
    <li><a href="{% url 'article_add' %}"><span class="fontred"></span> 新增博客</a></li>
    <li><a href="{% url 'article_draft_list' %}"> 草稿箱</a></li>
    <li><a href="{% url 'recycle_list' %}"> 回收站</a></li>
    <li><a href="{% url 'attention_list' %}">
            <span class="fontred"></span> 关注</li>
    </a>
    <li><a href="{% url 'collect_list' %}"> <span style="color:yellow ;"></span> 收藏</li></a>
    <li><a href="{% url 'message_list'%}"> 消息</a></li>
    <li><a href="{% url 'setting_security'%}"> 安全设置</a></li>
    <!-- <li><a href="{% url 'logout' %}"><span style="color: #000;"></span> 安全退出</a></li> -->
    <!-- <li> 设置</li> -->
</ul>